# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.venv/

# Database
db.sqlite3

# Media & Uploads
media/
uploads/
static/result/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
